body {
    background-color: rgb(147, 172, 253);
}

main {
display: block;
}
.custom-jumbo {
    background-image: linear-gradient(to right, blue, rgb(117, 117, 255), yellow);
    text-align: center;
    color:white;
}

.container-body {
    display: block;
    background-color: white;
    border: solid black;
    max-width: 70%;
    min-width: 70%;
    padding: 5px;
    margin: 5px;
    float: right;
}

.custom-side {
    border: solid black;
    background-color: white;
    max-width: 25%;
    padding: 5px;
    margin: 5px;
    float: left;
}

.custom-form {
display: flex;
}